<!DOCTYPE html>
<html>
<head>
<title> Let the battles begin!</title>
<link rel="stylesheet" href="/css/styles.css">
</head>

<body>
<h1> Sign in to play </h1>
<h2> <h2>
<form action="/names" method="POST">

    <label for="player_1_name"> 
        Please enter your name player 1:
        <input type="text" name="player_1_name"> 
    </label>
    <br>
    <label for="player_2_name">
        Please enter your name player 2:
        <input type="text" name="player_2_name">
    </label>

    <p> When you are ready...<input type ="submit" value ="Submit"> </p>  
</form>

</body>



